numpy==1.26.1
plotly==5.18.0
PyYAML==6.0.1
streamlit==1.36.0
streamlit-authenticator==0.2.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-gtag @ git+https://github.com/kumiori/streamlit-gtag.git@7a04ab228f8cb7edac23d1534e7ed8a095a53299
streamlit-image-coordinates==0.1.6
streamlit-image-select==0.6.0
streamlit-keyup==0.2.0
streamlit-modal==0.1.2
streamlit-pills==0.3.0
streamlit-player==0.1.5
streamlit-selectable-image-gallery==0.0.1
streamlit-shadcn-ui==0.1.18
streamlit-survey==0.1.0
streamlit-tags==1.2.8
streamlit-timeline==0.0.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
st-supabase-connection==1.2.0
timezonefinder==6.2.0
scipy==1.11.4
requests==2.31.0
pandas==2.1.1
openai==1.14.2
matplotlib==3.8.2
fuzzywuzzy==0.18.0
extra-streamlit-components==0.1.60
opencage==2.4.0
emoji==2.8.0
